In [1]:
import numpy as np
import pandas as pd

In [3]:
flats = pd.read_csv('../datasets/flats_preprocessed.csv')
houses = pd.read_csv('../datasets/houses_preprocessed.csv')

In [ ]:
df = pd.concat([flats, houses], ignore_index=True) # concatenate the two dataframes

In [ ]:
df = df.sample(df.shape[0], ignore_index=True) # shuffling rows

In [7]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in DLF Phase 2,house,independent,4.35,32222.0,1350.0,Plot area 150(125.42 sq.m.),5,4,3,...,"DLF Phase 2, Gurgaon, Haryana",3.0,North,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",Check out this 5 bhk house for sale in dlf pha...,[],"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",R70162684
1,3 BHK Flat in Nirvana Country,flat,the close south,3.10,12444.0,2491.0,Super Built up area 2491(231.42 sq.m.)Built Up...,3,4,3+,...,"4th, Nirvana Country, Gurgaon, Haryana",4.0,North-East,5 to 10 Year Old,"['Fresco Market', 'Emerald Plaza', 'Tagore Pub...",The close south is one of gurgaon's most sough...,"['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4.5 out ...",H69433380
2,2 BHK Flat in Sector 63A Gurgaon,flat,signature global city 63a,1.65,15263.0,1081.0,Super Built up area 1081(100.43 sq.m.),2,2,2,...,"Sector 63A Gurgaon, Gurgaon, Haryana",1.0,NaN,Oct 2024,"['Sector 54 Chowk Metro Station', 'Paras Trini...",It's a 2bhk in a popular area (Adjoining humon...,"['1 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No...",NaN,"['Environment4 out of 5', 'Safety5 out of 5', ...",G69165782
3,3 BHK Flat in Sector 95 Gurgaon,flat,saan verdante,2.00,10178.0,1965.0,Super Built up area 1965(182.55 sq.m.)Carpet a...,3,4,3+,...,"Sector 95 Gurgaon, Gurgaon, Haryana",5.0,North,0 to 1 Year Old,"['Proposed Metro Station', 'Dwarka Expressway'...",Saan verdante ultra luxury in sector 95,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4.5 out of...",U70096330
4,4 BHK Flat in Sector 111 Gurgaon,flat,puri diplomatic greens,3.90,13000.0,3000.0,Super Built up area 3000(278.71 sq.m.)Carpet a...,4,5,3+,...,"Sector 111 Gurgaon, Gurgaon, Haryana",6.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",Fully furnished 4 bedroom apartment in puri di...,"['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",S69742910

In [8]:
df.to_csv('../datasets/properties.csv', index=False)

# Cleaning in merged data

In [9]:
df = pd.read_csv('../datasets/properties.csv')

In [10]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in DLF Phase 2,house,independent,4.35,32222.0,1350.0,Plot area 150(125.42 sq.m.),5,4,3,...,"DLF Phase 2, Gurgaon, Haryana",3.0,North,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",Check out this 5 bhk house for sale in dlf pha...,[],"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",R70162684
1,3 BHK Flat in Nirvana Country,flat,the close south,3.10,12444.0,2491.0,Super Built up area 2491(231.42 sq.m.)Built Up...,3,4,3+,...,"4th, Nirvana Country, Gurgaon, Haryana",4.0,North-East,5 to 10 Year Old,"['Fresco Market', 'Emerald Plaza', 'Tagore Pub...",The close south is one of gurgaon's most sough...,"['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4.5 out ...",H69433380
2,2 BHK Flat in Sector 63A Gurgaon,flat,signature global city 63a,1.65,15263.0,1081.0,Super Built up area 1081(100.43 sq.m.),2,2,2,...,"Sector 63A Gurgaon, Gurgaon, Haryana",1.0,NaN,Oct 2024,"['Sector 54 Chowk Metro Station', 'Paras Trini...",It's a 2bhk in a popular area (Adjoining humon...,"['1 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No...",NaN,"['Environment4 out of 5', 'Safety5 out of 5', ...",G69165782
3,3 BHK Flat in Sector 95 Gurgaon,flat,saan verdante,2.00,10178.0,1965.0,Super Built up area 1965(182.55 sq.m.)Carpet a...,3,4,3+,...,"Sector 95 Gurgaon, Gurgaon, Haryana",5.0,North,0 to 1 Year Old,"['Proposed Metro Station', 'Dwarka Expressway'...",Saan verdante ultra luxury in sector 95,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4.5 out of...",U70096330
4,4 BHK Flat in Sector 111 Gurgaon,flat,puri diplomatic greens,3.90,13000.0,3000.0,Super Built up area 3000(278.71 sq.m.)Carpet a...,4,5,3+,...,"Sector 111 Gurgaon, Gurgaon, Haryana",6.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",Fully furnished 4 bedroom apartment in puri di...,"['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",S69742910

In [11]:
df.insert(loc=3, column='sector', value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.strip())

In [12]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in DLF Phase 2,house,independent,DLF Phase 2,4.35,32222.0,1350.0,Plot area 150(125.42 sq.m.),5,4,...,"DLF Phase 2, Gurgaon, Haryana",3.0,North,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",Check out this 5 bhk house for sale in dlf pha...,[],"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",R70162684
1,3 BHK Flat in Nirvana Country,flat,the close south,Nirvana Country,3.10,12444.0,2491.0,Super Built up area 2491(231.42 sq.m.)Built Up...,3,4,...,"4th, Nirvana Country, Gurgaon, Haryana",4.0,North-East,5 to 10 Year Old,"['Fresco Market', 'Emerald Plaza', 'Tagore Pub...",The close south is one of gurgaon's most sough...,"['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4.5 out ...",H69433380
2,2 BHK Flat in Sector 63A Gurgaon,flat,signature global city 63a,Sector 63A,1.65,15263.0,1081.0,Super Built up area 1081(100.43 sq.m.),2,2,...,"Sector 63A Gurgaon, Gurgaon, Haryana",1.0,NaN,Oct 2024,"['Sector 54 Chowk Metro Station', 'Paras Trini...",It's a 2bhk in a popular area (Adjoining humon...,"['1 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No...",NaN,"['Environment4 out of 5', 'Safety5 out of 5', ...",G69165782
3,3 BHK Flat in Sector 95 Gurgaon,flat,saan verdante,Sector 95,2.00,10178.0,1965.0,Super Built up area 1965(182.55 sq.m.)Carpet a...,3,4,...,"Sector 95 Gurgaon, Gurgaon, Haryana",5.0,North,0 to 1 Year Old,"['Proposed Metro Station', 'Dwarka Expressway'...",Saan verdante ultra luxury in sector 95,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4.5 out of...",U70096330
4,4 BHK Flat in Sector 111 Gurgaon,flat,puri diplomatic greens,Sector 111,3.90,13000.0,3000.0,Super Built up area 3000(278.71 sq.m.)Carpet a...,4,5,...,"Sector 111 Gurgaon, Gurgaon, Haryana",6.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",Fully furnished 4 bedroom apartment in puri di...,"['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",S69742910

In [13]:
df['sector'] = df['sector'].str.lower()

In [14]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [15]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in DLF Phase 2,house,independent,sector 25,4.35,32222.0,1350.0,Plot area 150(125.42 sq.m.),5,4,...,"DLF Phase 2, Gurgaon, Haryana",3.0,North,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",Check out this 5 bhk house for sale in dlf pha...,[],"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",R70162684
1,3 BHK Flat in Nirvana Country,flat,the close south,sector 50,3.10,12444.0,2491.0,Super Built up area 2491(231.42 sq.m.)Built Up...,3,4,...,"4th, Nirvana Country, Gurgaon, Haryana",4.0,North-East,5 to 10 Year Old,"['Fresco Market', 'Emerald Plaza', 'Tagore Pub...",The close south is one of gurgaon's most sough...,"['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4.5 out ...",H69433380
2,2 BHK Flat in Sector 63A Gurgaon,flat,signature global city 63a,sector 63a,1.65,15263.0,1081.0,Super Built up area 1081(100.43 sq.m.),2,2,...,"Sector 63A Gurgaon, Gurgaon, Haryana",1.0,NaN,Oct 2024,"['Sector 54 Chowk Metro Station', 'Paras Trini...",It's a 2bhk in a popular area (Adjoining humon...,"['1 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No...",NaN,"['Environment4 out of 5', 'Safety5 out of 5', ...",G69165782
3,3 BHK Flat in Sector 95 Gurgaon,flat,saan verdante,sector 95,2.00,10178.0,1965.0,Super Built up area 1965(182.55 sq.m.)Carpet a...,3,4,...,"Sector 95 Gurgaon, Gurgaon, Haryana",5.0,North,0 to 1 Year Old,"['Proposed Metro Station', 'Dwarka Expressway'...",Saan verdante ultra luxury in sector 95,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4.5 out of...",U70096330
4,4 BHK Flat in Sector 111 Gurgaon,flat,puri diplomatic greens,sector 111,3.90,13000.0,3000.0,Super Built up area 3000(278.71 sq.m.)Carpet a...,4,5,...,"Sector 111 Gurgaon, Gurgaon, Haryana",6.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",Fully furnished 4 bedroom apartment in puri di...,"['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",S69742910

In [16]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]
df['sector'].value_counts()

sector
sohna road      163
sector 102      113
sector 85       110
sector 92       104
sector 69        94
               ...
sector 110 a      3
sector 73         3
sector 17a        3
maruti kunj       3
sector 17b        3
Name: count, Length: 131, dtype: int64

In [17]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [18]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
1214,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,...,"New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN,Z69991064
1259,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,...,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN,X64788100
1979,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,...,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN,L63033262
2570,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,...,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN,U61839206

In [19]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [20]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
403,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,...,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5...",T69907288
886,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,...,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ...",P68640518
1011,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,...,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ...",Q68796936
2151,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,...,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",K38173331
2340,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,...,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",O66615752

In [21]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [22]:
df.shape

(3803, 22)

In [ ]:
# dropped irrelevant cols -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [24]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_id
0,house,independent,sector 25,4.35,32222.0,1350.0,Plot area 150(125.42 sq.m.),5,4,3,servant room,3.0,North,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",[],"['Feng Shui / Vaastu Compliant', 'Private Gard...",R70162684
1,flat,the close south,sector 50,3.10,12444.0,2491.0,Super Built up area 2491(231.42 sq.m.)Built Up...,3,4,3+,servant room,4.0,North-East,5 to 10 Year Old,"['Fresco Market', 'Emerald Plaza', 'Tagore Pub...","['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...",H69433380
2,flat,signature global city 63a,sector 63a,1.65,15263.0,1081.0,Super Built up area 1081(100.43 sq.m.),2,2,2,not available,1.0,NaN,Oct 2024,"['Sector 54 Chowk Metro Station', 'Paras Trini...","['1 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No...",NaN,G69165782
3,flat,saan verdante,sector 95,2.00,10178.0,1965.0,Super Built up area 1965(182.55 sq.m.)Carpet a...,3,4,3+,servant room,5.0,North,0 to 1 Year Old,"['Proposed Metro Station', 'Dwarka Expressway'...",[],"['Feng Shui / Vaastu Compliant', 'Security / F...",U70096330
4,flat,puri diplomatic greens,sector 111,3.90,13000.0,3000.0,Super Built up area 3000(278.71 sq.m.)Carpet a...,4,5,3+,servant room,6.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...","['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...",S69742910

In [25]:
df.to_csv('../datasets/final_dataset_cleaned_v1.csv',index=False)